.sp-normal {
  background-image: url(normal.png);
}


.sp-normal__sprite1 {
  background-position: -100px 0px;
  width: 50px;
  height: 50px;
}
.sp-normal__sprite2 {
  background-position: -100px -50px;
  width: 50px;
  height: 50px;
}
.sp-normal__sprite3 {
  background-position: 0px 0px;
  width: 100px;
  height: 200px;
}
